.sidebar {
  width: 100px;
  display: flex;
  flex-direction: column;
}
.sidebar__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.sidebar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar__username {
  display: flex;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}
