.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 1000;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 28px;
  background-color: #fff;
  border-radius: 20px;
  color-scheme: light;
  color: #000;
}

.modal__content_type_add-garment {
  width: 440px;
}

.modal__title {
  margin: 0 0 24px;
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__input {
  width: 100%;
  padding: 0 0 8px;
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background-color: transparent;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  margin: 0 0 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__legend {
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 12px;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.modal__radio-input {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 10px;
  display: grid;
  place-content: center;
  background-color: #fff;
  flex-shrink: 0;
}

.modal__radio-input::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
}

.modal__radio-input:checked::before {
  transform: scale(1);
}

.modal__radio-text {
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease;
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__radio-input:checked + .modal__radio-text {
  color: #000;
}

.modal__garment-submit {
  width: 156px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
  cursor: not-allowed;
}

.modal__garment-submit_active {
  background-color: #000 !important;
  color: #fff !important;
  cursor: pointer !important;
}

.modal__garment-submit.modal__garment-submit_active:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
}
