.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(126, 126, 126, 1);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  top: -2px;
  left: -2px;
  transition: all 0.2s;
}

.toggle-switch__text {
  position: absolute;
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  top: 2px;
}

.toggle-switch__text_F {
  color: rgba(255, 255, 255, 1);
  left: 7px;
}

.toggle-switch__text_C {
  color: rgba(0, 0, 0, 0.5);
  right: 7px;
}

.toggle-switch:hover .toggle-switch__text_C {
  color: rgba(0, 0, 0, 1);
}

.toggle-switch:hover .toggle-switch__text {
  transform: translateX(2px);
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
