.card {
  flex-basis: 23%;
  flex-grow: 1;
  max-width: 25%;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px 2px 12px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.card__image {
  width: 100%;
  height: 100%;
}
