.weather-card {
  margin: 0;
  width: auto;
  display: block;
  overflow: hidden;
  position: relative;
}

.weather-card__image {
  width: 100%;
  height: 80px;
  position: relative;
  display: block;
  object-fit: cover;
  object-position: right top;
  border-radius: 16px;
}

.weather-card__temp {
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-style: Bold;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
}
