.modal__content {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
}

.modal__caption {
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__content_type_image {
  border-radius: 16px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  max-width: 498px;
}

.modal__image {
  width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #fff;
}

.modal__delete-btn {
  background: transparent;
  border: none;
  padding: 0;
  color: rgba(255, 77, 0, 1);
  margin-top: 0;
}

.modal__close-btn {
  top: 16px;
  right: 16px;
  background: url("../../images/item-modal-close-icon.svg") center no-repeat;
  border: none;
  cursor: pointer;
}
