.modal__content {
  position: relative;
  width: calc(100% + 40px);
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  justify-content: center;
}

.modal__caption {
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__weather {
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

div.modal__content.modal__content_type_image {
  padding: 0;
}

.modal__content_type_image {
  border-radius: 20px;
  padding: 0;
  width: 440px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.modal__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
}

.modal__delete-btn {
  background: transparent;
  border: none;
  padding: 0;
  color: rgba(255, 77, 0, 1);
  margin-top: 0;
}

.modal__close-btn {
  top: 16px;
  right: 16px;
  background: url("../../images/item-modal-close-icon.svg") center no-repeat;
  border: none;
  cursor: pointer;
}
