.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 28px 0 20px;
}

.footer__text {
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.footer__text-year {
  font-family: "Cabinet Grotesk", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
